.bg-img{
    background-image: url("./pexels-christian-buergi-13449836.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 120vh;
    opacity: 0.9;
 }